.footer {
    background-color: #fcfcfc;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 1rem;
    font-size: 16px;
}

.footerLeft {
    width: 50%;
}

.footerLeft p {
    padding-left: 1rem;
}

.footerRight {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footerRight a {
    margin: 0 0.5rem;
}

@media screen and (min-width: 1440px) {
    .footer {
        max-width: 1390px;
        margin: 0 auto;
    }
}

@media (max-width: 767.98px) {
    .footerLeft {
        width: 100%;
        margin-top: 10px;
    }
    .footerRight {
        width: 100%;
        justify-content: flex-start;
    }
    .footerLeft p {
        padding-left: 0.5rem;
    }

    .footer {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
