.container {
    min-height: 100vh;
    background: #fcfcfc;
}

.innerContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: #fcfcfc;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    color: #333333;
    font-size: 16px;
}

.header a:hover {
    text-decoration: underline;
}

.headerLeft,
.headerRight {
    display: flex; 
    align-items: center;
}



.headerLeft a {
    padding-left: 1rem;
}

.headerRight > * {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1440px) {
    /* .innerContainer {
        max-width: 1390px;
        margin: 0 auto;
        padding: 1.5rem;
    } */
    .header {
        max-width: 1390px;
        margin: 0 auto;
    }
}

@media (max-width: 767.98px) {
    .innerContainer {
        padding: 0.5rem;
    }

    .headerLeft a {
        padding-left: 0.5rem;
    }

    .headerRight a {
        padding-right: 0.5rem;
    }
}
