.about_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 
.profile_pic {
  width: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_pic img {
  width: 85%;
} */

.profile_info {
  width: 65%;
  padding: 1rem;
}

.profile_detail {
  width: 65%;
  padding: 1rem;
}

.profile_detail li {
  font-size: 0.9rem;
}

.about_container a {
  text-decoration: underline;
  color: #1a6050;
}

@media (max-width: 1024px) {
  .profile_info {
    width: 80%;
    padding: 1rem;
  }

  .profile_detail {
    width: 80%;
    padding: 1rem;
  }
}

@media (max-width: 767.98px) {
  .profile_info {
    width: 100%;
    padding: 1rem;
  }

  .profile_detail {
    width: 100%;
    padding: 1rem;
  }
}
