.about_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0 100px 0;
    max-width: 960px;
}

.profile_info {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:32px;
}
.profile_info p + p{
    margin-top: 16px;
}

.profile_detail {
    width: 85%;
    margin-top: 40px;
}
.profile_detail ul {
    margin: 0;
    padding: 0;
}
.profile_detail li {
    font-size: 1rem;
    list-style: none;
    padding: 0.25rem 0;
}
.detailSection li {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
}
.bodyText{
    font-size: 1rem;
    line-height: 1.5rem;
}

@media screen and (min-width: 1440px) {
    .about_container {
        max-width: 1390px;
    }
}

@media (max-width: 767.98px) {
    .profile_info {
        width: 100%;
        padding: 1rem;
        grid-template-columns: 1fr;
    }

    .profile_detail {
        width: 100%;
        padding: 1rem;
    }
    .profile_info > p {
        font-size: 0.8rem;
        line-height: 1.2rem;
        margin-top: 40px;
    }

    .detailSection li {
        font-size: 0.8rem;
    }
}
