@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

:root {
    --purple-text: #6940a5;
    --yellow-text: #dfab01;
    --green-text: #0f7b6c;
    --text-color--dark: #333333;
    --text-color--light: #fcfcfc;
    --text-secondary-color--light: #c3c3c3;
    --bg-color--dark: #1a1a1a;
    --bg-color--light: #fcfcfc;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    color: var(--text-color--light);
    background-color: var(--bg-color--dark);
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--text-color--light);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
p {
    font-weight: 400;
    color: var(--bg-color--light);
    margin: 0;
}

img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    /* display: block; */
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
}


/* COLOR TAGS */
.projectTag__yellow {
    background: #fbf3da;
    color: var(--text-color--dark);
}
.projectTag__green {
    background: #ddedea;
    color: var(--text-color--dark);
}
.projectTag__red {
    background: #fbe4e4;
    color: var(--text-color--dark);
}
.projectTag__purple {
    background: #eae4f2;
    color: var(--text-color--dark);
}
.projectTag__pink {
    background: #f4dfeb;
    color: var(--text-color--dark);
}
.projectTag__gray {
    background: #ebeced;
    color: var(--text-color--dark);
}
.projectTag__blue {
    background: #ddebf1;
    color: var(--text-color--dark);
}
.projectTag__orange {
    background: #faebdd;
    color: var(--text-color--dark);
}
/* END OF COLOR TAGS*/
