.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    max-width: 1390px;
    font-size: 24px;
    line-height: 1.25;
    padding: 0 32px;
    width: 75%;
    margin-right: auto;
}
.intro p {
    margin: 0;
}

.sectionTitle h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

.projectSection {
    margin: 100px 0;
    padding: 0 32px;
}
.projectSection ul{
    width: 75%;
    margin-right: auto;
}

.projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.projects li {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}
.projects > li + li {
    margin-top: 60px;
    margin-bottom: 0;
}
.image {
    width: 100%;
    height: 0;
    object-fit: cover;
    cursor: pointer;
    padding-bottom: 62.5%;
    background-size: cover;
    transform: scale(1);
    transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.image:hover {
    transform: scale(1.02);
    /* Fix safari filter bug */
    will-change: filter;
    filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.25));
}

.projectDetail {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    /* cursor: pointer; */
}

.projectTags {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 16px;
}
.projectTags > span {
    padding: 6px 12px;
    border-radius: 8px;
}

.projectDetail .projectSubDetail {
    font-weight: 400;
    font-size: 16px;
    color: var(--text-secondary-color--light);
}
.projectDetail .projectDescription {
    flex: 1;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-secondary-color--light);
}

.title {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    cursor: pointer;
}

.title:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .projectDetail {
        flex-direction: row;
        gap: 50px;
    }
    .projectDetail > .projectColLeft {
        width: calc(100% / 6 * 2);
    }
}

@media (max-width: 767px) {
    .introduction {
        width: 100%;
    }
    .intro{
        width: 100%;
        padding: 0 16px;
    }
    .projectSection{
        padding: 0 16px;
    }
    .projectSection ul{
        width: 100%;
        margin: auto;
    }
    .projects li {
        width: 100%;
    }

    .social {
        flex-direction: column;
    }
    .social a {
        margin-top: 1rem;
    }
}
