.info {
  margin: 1rem 0;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.singleProject {
  width: 45%;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.image {
  width: 100%;
  height: 50%;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}
