.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 670px;
    margin: 100px 0;
}

.intro {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.introLeft {
    width: calc(100% / 6 * 2);
}

.introLeft h1 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}
.introLeft p {
    font-size: 16px;
}

.introRight {
    flex: 1;
    font-size: 16px;
}
.introRight > * {
    color: var(--text-secondary-color--light);
}
.content {
    margin-top: 40px;
}
.content p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 0px;
    margin: 10px 0;
}

.content h3{
    margin-top: 32px;
    font-size: 20px;
}
.content hr{
    margin: 40px 0;
}

@media (max-width: 767.98px) {
    .posts {
        margin: 1rem;
        width: 100%;
    }
    .intro {
        display: flex;
        flex-direction: column;
    }
    .intro > * {
        width: 100%;
    }
    .content h3{
        margin-top: 24px;
        font-size: 18px;
    }
}
