.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2.5rem;
}
.intro {
  display: flex;
  flex-direction: row;
}
.introLeft {
  display: block;
  float: left;
  width: 50%;
  padding: 0.5rem;
}

.introLeft h2 {
  margin-bottom: 0;
}

.introRight {
  display: block;
  float: right;
  width: 50%;
  padding: 0.5rem;
}

.introRight ul {
  margin-top: 1rem;
  color: #6c6c6c;
}
