.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLightXl {
  font-family: SpaceGroteskLight, sans-serif;
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-family: SpaceGroteskRegular, sans-serif;
  font-size: 1.875rem;
  line-height: 150%;
  letter-spacing: 0.005em;
  margin: 1rem 0;
}

.headingLgNoMargin {
  font-family: SpaceGroteskRegular, sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
}

.headingBoldLg {
  font-family: SpaceGroteskSemiBold, serif;
  letter-spacing: 0.005em;
  line-height: 1.4;
  font-size: 1.875rem;
  line-height: 150%;
  letter-spacing: 0.005em;
  margin: 1rem 0;
}

.headingLightLg {
  font-family: OrticaLight, serif;
  /* font-family: SpaceGroteskLight, sans-serif; */
  line-height: 1.4;
  font-size: 1.95rem;
  line-height: 150%;
  letter-spacing: 0.005em;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.headingBoldMd {
  font-family: SpaceGroteskSemiBold, sans-serif;
  /* font-family: OrticaBold, serif; */
  letter-spacing: 0.005em;
  font-size: 1.2rem;
  line-height: 1.5;
}

.headingLightMd {
  font-family: SpaceGroteskLight, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

.descriptionText {
  font-size: 0.9rem;
  line-height: 1.2;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #999;
}

.footerText {
  font-family: SpaceGroteskLight, sans-serif;
  font-size: 0.9rem;
  line-height: 0.9;
}

.textLightSm {
  font-family: SpaceGroteskLight, sans-serif;
  font-size: 0.8rem;
  font-style: italic;
}

.textMd {
  font-family: SpaceGroteskRegular, sans-serif;
  font-size: 1rem;
}

.textSm {
  font-family: SpaceGroteskRegular, sans-serif;
  font-size: 0.8rem;
}

@media (max-width: 767.98px) {
  .headingLg {
    font-size: 1rem;
  }

  .textMd {
    font-size: 0.85rem;
  }

  .textLightSm {
    font-size: 0.7rem;
  }
}
